
.dashboardChartPane1 {
    display: block;
    background-color: #222222;
    height: 50%;
    margin-right: 200px;
    left: 0;
    top:0;
    position: relative;
}

.dashboardChartPane2 {
    display: block;
    background-color: #222222;
    height: 50%;
    margin-top: 5px;
    margin-right: 200px;
    left: 0;
    bottom:0;
    position: relative;
}


.dashboardIndicator {
    background-color: #222222;
    color: white;
    width:195px;
    height:95px;
    right: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
}

.dashboardIndicator h1 {
    margin-bottom: 3px;
    margin-top: 4px;
}

.dashboardAlarms {
    top: 0;
    height: 45px;
    padding-top: 13px;
}

.dashboardAlarmsActive {
    background-color: red;
}

.dashboardVoltage {
    top: 50px;
}
.dashboardCurrent {
    top: 150px;
}
.dashboardRpm {
    top: 250px;

}
.dashboardSpeed {
    top: 350px;
}

.dashboardTemp {
    top: 450px;
}
