
.alarm {
    width: 100%;
    height: 48px;
    background-color: #222222;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
    border-left: 10px solid grey;
}

.alarm h3 {
    margin-bottom: 2px;
}

.alarm-active {
    border-left: 10px solid red;
}

.alarm-inactive {
    border-left: 10px solid green;
}
